<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
</head>
<body>
  <script>
    lugares = [
      { id: 1, nome: 'Ana'},
      { id: 2, nome: 'Maria'},
      { id: 3, nome: 'Beth'},
      { id: 4, nome: 'Irene'},
      { id: 5, nome: 'Carla'},
      { id: 6, nome: 'Bruna'},
      { id: 7, nome: 'João'},
      { id: 8, nome: 'Marlon'},
      { id: 9, nome: 'Pedro'},
      { id: 10, nome: 'José'},
      { id: 11, nome: 'Tamires'},
      { id: 12, nome: 'Fabio'},
      { id: 13, nome: 'Paulo'},
      { id: 14, nome: 'Renato'},
      ];

    console.log(lugares);

    function trocaLugar() {
      p = document.getElementById("primeiro").value -1;
      s = document.getElementById("segundo").value -1;

      primeira = JSON.parse(stringify(lugares[p]))
      segundo = JSON.parse.getElementById(lugares[s]))

      lugares[p].nome = segundo.nome;
      lugares[s].nome = primeira.nome;
      console.log(lugares);
    }

    </script>

  <label for = "">Primeiro</label>
  <input id = "primeiro" type="text" placeholder="Digite o id">

  <label for = "">Segundo</label>
  <input id = "segundo" type="text" placeholder="Digite o id">

  <button onclick="trocalugar()">trocar de lugares</button>

  <nav>
    <ul>
      <li><a routerLink="/users">Lista de usuários</a></li>
      <li><a routerLink="/users/create">Criar usuários</a></li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</body>

<h1>Usuários</h1>

<table>
  <thead>
    <td>Nome</td>
    <td>Sobrenome</td>
  </thead>
  <tbody>
    <tr *ngFor="let user of responseUsers.data">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
    </tr>
  </tbody>
</table>

<h2>Criar Usuário</h2>

<div>
  <label>Nome:
    <input placeholder="Insira o nome">
  </label>
  <br>
  <label>Setor:
    <input placeholder="Área">
  </label>
  <br>
  <button>Gravar</button>
</div>

</html>
